.site-footer {
  padding-top: 110px;
  padding-bottom: 20px;
  background-color: map.get($colors, 'text-main');

  @include mq-up(md) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 60px 60px;

    &::after {
      order: 3;
      width: 200px;
      content: '';
    }
  }

  .site-nav {
    margin: auto;
    text-align: center;

    @include mq-up(md) {
      order: 2;
    }

    .footer-menu-container {
      .menu {
        padding: 0;
        margin: 0 0 50px;

        @include mq-up(md) {
          display: inline-flex;
          column-gap: 2rem;
          align-items: center;
          margin: 0;
        }

        .menu-item {
          &:not(:first-child) {
            margin-top: 2em;

            @include mq-up(md) {
              margin-top: 0;
            }
          }

          a {
            font-size: 1rem;
            color: map.get($colors, 'white');
            text-decoration: none;
          }
        }
      }
    }

    .sns {
      margin-top: 50px;
      text-align: center;

      @include mq-up(md) {
        display: inline-flex;
        column-gap: 1.875rem;
        align-items: center;
        justify-content: space-between;
        margin-top: 2em;
      }

      .follow {
        margin-bottom: 1rem;
        font-size: 0.75rem;
        color: map.get($colors, 'text-sub');

        @include mq-up(md) {
          font-size: 1rem;
        }
      }

      .sns-links {
        display: inline-flex;
        column-gap: 1.875rem;
        align-items: center;
        justify-content: space-between;
        margin: auto;
      }
    }
  }

  .site-info {
    margin-top: 100px;
    text-align: center;

    @include mq-up(md) {
      order: 1;
      width: 200px;
      margin-top: 0;
      text-align: left;
    }

    p {
      margin: 0 auto;
    }

    .copy {
      margin-top: 0.75em;
      font-size: 0.75rem;
      color: map.get($colors, 'text-sub');

      @include mq-up(md) {
        margin-top: 1.5em;
      }
    }
  }
}

/* 追従SNS */
.follow-sns {
  position: fixed;
  right: 60px;
  bottom: 50px;
  z-index: 9;

  .sns-links {
    display: flex;
    flex-direction: column;
    row-gap: 1em;

    .sns-link {
      a {
        display: inline-block;
        padding: 10px;
        background-color: rgb(255 255 255 / 60%);
        border-radius: 999px;

        @media (hover: hover) {
          &:hover {
            background-color: map.get($colors, 'main');
          }
        }

        img {
          vertical-align: bottom;
        }
      }
    }
  }
}

.footer-cta {
  > .widget_block {
    margin-bottom: 0;

    .wp-block-cover {
      position: relative;
      padding: 0;

      .wp-block-cover__inner-container {
        p {
          margin-top: 0;
          margin-bottom: 0;
        }

        .title {
          margin-top: calc(-1em - 80px);
          margin-bottom: 0;
          font-size: 4.5rem;
          line-height: 1;

          @include mq-up(md) {
            font-size: 10.8rem;
          }
        }

        .container {
          padding-top: 0;
          padding-bottom: 0;

          @each $key, $value in $colors {
            &.has-#{$key}-background-color {
              background-color: transparent !important;

              .wp-block-group__inner-container {
                background-color: $value;
              }
            }
          }

          .wp-block-group__inner-container {
            padding: 80px;
            margin-bottom: 90px;
            box-shadow: 0 5px 20px #00000029;

            @include mq-down(md) {
              padding: 40px 20px;
            }

            .phone {
              margin-top: 10px;
              margin-bottom: 10px;
              line-height: 1;

              @include mq-down(md) {
                font-size: 2.625rem !important;
              }

              + p {
                margin-bottom: 40px;
              }
            }

            .wp-block-columns {
              .wp-block-column {
                > p {
                  &.subject {
                    margin-bottom: 15px;
                    font-size: 1.43rem !important;
                  }

                  @include mq-down(md) {
                    font-size: 0.875rem !important;

                    &.subject {
                      font-size: 1.3125rem !important;
                    }
                  }
                }

                .wp-block-button {
                  margin-top: 30px;
                  font-size: 1.3125rem !important;

                  @include mq-down(md) {
                    margin-top: 20px;
                    font-size: 1rem !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
