.site-header {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background-color: rgb(20 70 139 / 79%);

  .site-branding {
    .site-title {
      margin-top: 11px;
      margin-bottom: 10px;
      margin-left: 10px;

      @include mq-up(lg) {
        margin-top: 15px;
        margin-bottom: 10px;
        margin-left: 33px;
      }

      a {
        display: block;

        @include mq-down(md) {
          height: 40px;
        }

        img {
          width: auto;
          height: 100%;
        }
      }
    }
  }
}
