.error404 {
  .site-main {
    ~ .footer-cta {
      .title {
        color: map.get($colors, 'white') !important;
      }
    }
  }
}

.not-found {
  padding-top: 178px;
  padding-bottom: 320px;
  background-color: map.get($colors, 'gray-light');

  .page-title {
    position: relative;
    margin-top: 0;
    margin-bottom: 60px;
    font-size: 42px;
    text-align: center;

    @include mq-down('md') {
      margin-bottom: 45px;
      font-size: 27px;
    }

    &::before {
      position: absolute;
      right: 0;
      bottom: 30px;
      left: 0;
      z-index: 1;
      display: block;
      margin: auto;
      font-size: 98px;
      font-style: italic;
      font-weight: 700;
      line-height: 1;
      color: #000;
      content: attr(data-desc);
      opacity: 0.06;

      @include mq-down('md') {
        bottom: 20px;
        font-size: 72px;
        text-align: center;
      }
    }
  }

  .page-content {
    line-height: 1.8;
    text-align: center;
  }

  .error-buttons {
    width: 330px;
  }
}
