/* 微調整用ヘルパークラス */
@for $i from -100 through 100 {
  // margin
  .m-t-#{$i} {
    margin-top: '#{$i}px' !important;
  }
  .m-l-#{$i} {
    margin-left: '#{$i}px' !important;
  }
  .m-r-#{$i} {
    margin-right: '#{$i}px' !important;
  }
  .m-b-#{$i} {
    margin-bottom: '#{$i}px' !important;
  }
  .m-t-#{$i}p {
    margin-top: '#{$i}%' !important;
  }
  .m-l-#{$i}p {
    margin-left: '#{$i}%' !important;
  }
  .m-r-#{$i}p {
    margin-right: '#{$i}%' !important;
  }
  .m-b-#{$i}p {
    margin-bottom: '#{$i}%' !important;
  }

  // padding
  .p-t-#{$i} {
    padding-top: '#{$i}px' !important;
  }
  .p-l-#{$i} {
    padding-left: '#{$i}px' !important;
  }
  .p-r-#{$i} {
    padding-right: '#{$i}px' !important;
  }
  .p-b-#{$i} {
    padding-bottom: '#{$i}px' !important;
  }
  .p-t-#{$i}p {
    padding-top: '#{$i}%' !important;
  }
  .p-l-#{$i}p {
    padding-left: '#{$i}%' !important;
  }
  .p-r-#{$i}p {
    padding-right: '#{$i}%' !important;
  }
  .p-b-#{$i}p {
    padding-bottom: '#{$i}%' !important;
  }

  // z-index
  .z-#{$i} {
    z-index: #{$i} !important;
  }

  // position
  .t-#{$i} {
    top: '#{$i}px' !important;
  }
  .l-#{$i} {
    left: '#{$i}px' !important;
  }
  .r-#{$i} {
    right: '#{$i}px' !important;
  }
  .b-#{$i} {
    bottom: '#{$i}px' !important;
  }
  .t-#{$i}p {
    top: '#{$i}%' !important;
  }
  .l-#{$i}p {
    left: '#{$i}%' !important;
  }
  .r-#{$i}p {
    right: '#{$i}%' !important;
  }
  .b-#{$i}p {
    bottom: '#{$i}%' !important;
  }
}

@for $i from 0 through 100 {
  // opacity
  .op-#{$i} {
    opacity: calc($i / 100) !important;
  }
}

// position
.pos-a {
  position: absolute !important;
}

.pos-r {
  position: relative !important;
}

.pos-f {
  position: fixed !important;
}

.pos-s {
  position: static !important;
}

.pos-sticky {
  position: sticky !important;
}

// overflow
.ov-h {
  overflow: hidden !important;
}

.ovx-h {
  overflow-x: hidden !important;
}

.ovy-h {
  overflow-y: hidden !important;
}

.ov-a {
  overflow: auto !important;
}

.ovx-a {
  overflow-x: auto !important;
}

.ovy-a {
  overflow-y: auto !important;
}
