/* footer
--------------------------------------------- */
.site-main {
  padding-bottom: 320px;

  @include mq-down('md') {
    padding-bottom: 260px;
  }
}

/* page
--------------------------------------------- */
.page {
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-top: 0;
    margin-bottom: 0;
  }

  ul,
  ol {
    padding-left: 0;
    margin-bottom: 0;
    margin-left: 0;
    list-style: none;
  }

  a {
    text-decoration: none;
  }
}
