.site-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 15px;
  background-color: rgb(20 70 139 / 79%);

  .site-branding {
    .site-title {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
