.site-header {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background-color: rgb(20 70 139 / 79%);

  .site-branding {
    .site-title {
      margin-top: 20px;
      margin-bottom: 15px;
      margin-left: 33px;

      img {
        vertical-align: bottom;
      }
    }
  }
}
