.main-navigation {
  display: flex;
  align-items: stretch;

  @include mq-up(md) {
    display: inline-flex;
    align-items: center;
  }

  @include mq-down(md) {
    .menu-content {
      position: absolute;
      top: 60px;
      left: -100%;
      z-index: 10;
      display: block;
      width: 100%;
      background-color: $color-text-main;
      transition: all 0.3s;

      .header-menu-sp-container {
        padding-top: 80px;
        padding-bottom: 80px;

        .menu-item {
          &:not(:first-of-type) {
            margin-top: 2.5em;
          }
        }

        a {
          display: flex;
          align-items: baseline;
          justify-content: center;
          font-size: 0.75rem;
          text-decoration: none;

          &::before {
            display: inline-block;
            margin-right: 0.5em;
            font-size: 1.375rem;
            content: attr(data-desc);
          }
        }
      }
    }
  }

  ul {
    padding-left: 0;
    margin: 0;
    list-style: none;

    ul {
      position: absolute;
      top: 100%;
      left: -999em;
      z-index: 99999;
      float: left;
      box-shadow: 0 3px 3px rgb(0 0 0 / 20%);

      ul {
        top: 0;
        left: -999em;
      }

      li {
        &:hover > ul,
        &.focus > ul {
          left: auto;
          display: block;
        }
      }

      a {
        width: 200px;
      }

      :hover > a,
      .focus > a {
      }

      a:hover,
      a.focus {
      }
    }

    li:hover > ul,
    li.focus > ul {
      left: auto;
    }
  }

  li {
    position: relative;

    &:hover > a,
    &.focus > a {
    }
  }

  a {
    display: block;
    font-size: 0.75rem;
    color: $color-white;
    text-align: center;
    text-decoration: none;

    &::before {
      display: block;
      font-size: 1.375rem;
      font-weight: 700;
      content: attr(data-desc);
    }
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a,
  .current-menu-ancestor > a {
  }
}

.contact-navigation {
  display: inline-flex;
  align-items: stretch;

  a {
    display: inline-flex;
    align-items: center;
    padding-right: calc(2vw + 10px);
    padding-left: 2vw;
    font-size: 0.875rem;
    color: $color-text-main;
    text-decoration: none;
    background-color: $color-accent;

    @include mq-up(lg) {
      padding-right: calc(3.385vw + 20px);
      padding-left: 3.385vw;
    }

    &::before {
      display: inline-flex;
      order: 1;
      font-size: 1.875rem;
      font-style: italic;
      content: attr(data-desc);
    }

    &::after {
      display: inline-flex;
      order: 2;
      margin-right: 1em;
      margin-left: 1.75em;
      content: '/';
    }

    .text {
      order: 3;
    }
  }
}

/* Small menu. */
.menu-btn {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
  background-color: $color-text-main;

  @include mq-down(md) {
    display: flex;
  }

  .text {
    &::before {
      margin-left: 9px;
      font-size: 1.125rem;
      font-style: italic;
      font-weight: 700;
      color: $color-white;
      content: 'MENU';
    }
  }

  .icon {
    position: relative;
    display: block;
    width: 20px;
    height: 19px;

    span {
      position: absolute;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 3px;
      background: $color-white;
      border-radius: 2px;
      transition: all 0.3s;

      &:nth-of-type(1) {
        top: 0;
      }

      &:nth-of-type(2) {
        top: calc(50% - 1.5px);
      }

      &:nth-of-type(3) {
        bottom: 0;
      }
    }
  }
}

#menu-btn-check {
  display: none;

  &:checked {
    ~ .menu-btn {
      .text {
        &::before {
          content: 'CLOSE';
        }
      }

      .icon {
        span {
          &:nth-of-type(1) {
            transform: translateY(8px) rotate(-45deg);
          }

          &:nth-of-type(2) {
            opacity: 0;
          }

          &:nth-of-type(3) {
            transform: translateY(-8px) rotate(45deg);
          }
        }
      }
    }

    ~ .menu-content {
      left: 0;
    }
  }
}

.contact-navigation {
  display: none;
}

@include mq-up(md) {
  .menu-toggle {
    display: none;
  }

  .contact-navigation {
    display: inherit;
  }

  .main-navigation ul {
    display: flex;
    column-gap: 1.5vw;
  }
}

@include mq-up(lg) {
  .main-navigation ul {
    column-gap: 3.75vw;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 1.5em;
  }

  .nav-links {
    display: flex;
  }

  .nav-previous {
    flex: 1 0 50%;
  }

  .nav-next {
    flex: 1 0 50%;
    text-align: end;
  }
}
